/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);*/


body {
	font-family: 'Helvetica', sans-serif;
	font-size: 13px;
	line-height: 1.4em;
	text-align: left;
	text-rendering: optimizeLegibility;
	font-variant-ligatures: inherit;
	-moz-hyphens: auto;
	-o-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto; 

	width: 1220px;
	margin-top:30px;
	margin-left:30px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	
	cursor:default;
}

.menu {
	width: 290px;
	float:left;
	border-width: 1px 0px 0px 0px;
	border-style: solid;
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu-entry {
	margin-top:10px;
	font-weight: bold;	
	color: #aaa;
}
.menu-entry:first-child {
	margin-top:20px;
}
.menu-entry:hover {
	color: #777;
}


.menu-entry.selected {
	color: #000;
}

.content {
	float: right;
	width: 910px;
}

.chapter {
	clear:both;
	border-width: 1px 0px 0px 0px;
	border-style: solid;
	position: absolute;
	left: 340px;
	display: none;
}

.section {
	clear:both;
}

.text {
	float:right;
	margin-top:20px;
}
.t1 {
	width: 290px;
	margin-left: 20px;
	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
	column-gap: 20px;
}
.t3 {
	float:left;
	width: 600px;
	-webkit-column-count: 2;
	-moz-column-count: 2;
 	column-count: 2;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
	column-gap: 20px;
}
.one-coloumn {
	-webkit-column-count: 1;
	-moz-column-count: 1;
 	column-count: 1;
}

.sketch {
	width:600px;
	border: 1px solid #ccc;
	float:left;
	margin-top:20px;
}
.reset-button {
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	color: #aaa;
}
.reset-button:hover {
	color: #777;
}
.image{
	width: 600px;
	float:left;
	margin-top:20px;
}

code {
	display: block;
	background-color: #eee;
	padding: 3px 5px;
	white-space: pre-wrap;
}

p {
	margin-top: 0;
	margin-bottom: 1em;
}